#h3Center{
  text-align: center;
}

.fotos{
  max-width: 40%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.card{
  max-width: 100%;
  height: auto;
}

.title{
  text-align: center;
 
}

.sub-card{
  text-align: center;
  width: 100%;
  margin-left: 1px;
}

.titulo{
  text-align: center;
  font-style: italic;
}

.card-main{
  background-color: #ffffff;
}

#table
{
  margin-left: -12px;
}

#centradotabla{
  border-radius: 20px;
  width: 85%;
  height:400px;
  text-align: center;
  margin: 0 auto;
  font-size:larger;
  background-color: white;
  box-shadow: 0 0 15px #45a6c4;
}

#label1
{
  font-size: 30px;
}

#label2
{
  font-size: 18px;
}

#tabla2
{
  margin: auto;
}

#trSeparado
{
  margin-top: 5cm;
}

#centradotabla2{
  border-radius: 20px;
  width: 75%;
  height: 270px;
  text-align: center;
  margin: 0 auto;
  font-size:larger;
  background-color: white;
  box-shadow: 0 0 15px #45a6c4;
}

#tablaCentral2{
  margin: 0 auto;
  width:90%;
  height:80% ;
}

#th1TablaCentro2{
  
  width:10% ;
  height:20% ;
}

#th2TablaCentro2{
  width:10% ;
  height:20% ;
}

#boton2{
  margin: auto;
  width:50% ;height:10% ;
}

#estiloBoton2{
  width:100% ;
}

