

<ion-content class="background">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3"><br>
<br>
       <div style=" height: 95px;width: 85%;margin: auto;border-radius: 60px; margin-top: -35px;">
       <br> <table align="center">
          <tr>
            <th> 
              <ion-img src="assets/img/logoPro.png" [routerLink]="['/dashboard']" style="width: 240px; " ></ion-img>
            </th>
            <!--<th>
              <ion-img src="assets/img/info.png" [routerLink]="['/about']" style="width: 28px;margin-left: 80px; " ></ion-img>
            </th>-->
          </tr>
        </table>
       </div>
        
        <div id="redondo" style="margin-top: 50px;"><br>
          <table >
                      
            <tr>
              <th id="thTabla">  <ion-img id="imgRutas" src="assets/img/clientes2.png" [routerLink]="['/dashboard']"></ion-img> </th>
              <th id="thTabla">   <ion-img id="imgClientes" src="assets/img/user.png" [routerLink]="['/profile']"></ion-img> </th>
            </tr>
      
            <tr>
              <th> <p id="pTabla" [routerLink]="['/dashboard']">CLIENTES</p> </th>
              <th> <p id="pTabla" [routerLink]="['/profile']">PERFIL</p> </th>
            </tr>
      
            <tr>
              <th id="thTabla">  <ion-img id="userfoto" src="assets/img/abono.jpg" [routerLink]="['/dashboard']"></ion-img> </th>
              <th id="thTabla">   <ion-img id="userfoto" src="assets/img/venta.jpg" [routerLink]="['/dashboard']"></ion-img> </th>
            </tr>
      
            <tr>
              <th> <p id="pTabla" [routerLink]="['/dashboard']">ABONO CLIENTE</p>  </th>
              <th> <p id="pTabla" [routerLink]="['/dashboard']">NUEVA VENTA</p> </th>
            </tr>
      
      
            <tr>
              <th id="thTabla">  <ion-img id="userfoto" src="assets/img/inventario.png" [routerLink]="['/dashboard']"></ion-img> </th>
              <th id="thTabla">   <ion-img id="userfoto" src="assets/img/historial.png"[routerLink]="['/dashboard']"></ion-img> </th>
            </tr>
      
            <tr>
              <th> <p id="pTabla" [routerLink]="['/dashboard']">INVENTARIO</p>  </th>
              <th> <p id="pTabla" [routerLink]="['/dashboard']">HISTORIAL</p> </th>
            </tr>
      
            <tr>
              <th id="thTabla">  <ion-img id="imgDevolucion" src="assets/img/devolucion2.png" [routerLink]="['/dashboard']"></ion-img> </th>
              <th id="thTabla"> <p id="pTabla" [routerLink]="['/dashboard']">DEVOLUCION</p> </th>
            </tr>
      
          </table><br>
        </div>

        
    </ion-col>
  </ion-row>
</ion-grid>  

</ion-content>

<ion-footer class="mi-footer"> 
  <!--<h6 style="margin-left: 15px;color: rgb(204, 202, 202);">Copyright IACOBRANZA</h6>-->
   
  <div id="divEstiloFooter">
    <table align="center" id="tablaFooter">
      <tr >
        
          <th align="center" >
          <ion-img src="assets/img/comentarios.png" id="imgFooter" [routerLink]="['/dashboard']"></ion-img>
        </th>
        <th align="center">
          <ion-img src="assets/img/casa.png" id="imgFooter"  [routerLink]="['/dashboard']"></ion-img>
        </th>
        <th align="center">
          <ion-img src="assets/img/info.png" id="imgFooter"  [routerLink]="['/dashboard']"></ion-img>
        </th>
        <th align="center">
          <ion-img src="assets/img/userNegro.png" id="imgFooter"  [routerLink]="['/profile']"></ion-img>
        </th>
      </tr>
    </table>
  </div>
  
</ion-footer> 

  