

<!--Primeramente, tenemos el contenedor que sería el cuerpo de la aplicación, a esta se le agrego una class llamada background la cual contiene el fondo del contenedor-->
<ion-content class="background">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
<br>
        <div id="backdiv"><ion-back-button style="color: rgb(255, 255, 255);" title="Return" defaultHref="/" >
        </ion-back-button></div>

        <div style="margin-top: -40px;">
          <table align="center" style="width: 290px;">
            <tr>
              <th>
                <ion-img id="imgTabla1" style="margin: auto;" src="assets/img/iaAzul.png" ></ion-img>
              </th>
            </tr>
            <tr>
              <th>
                <h1 id="colorEtiqueta2" style="margin-top: 4px;">CONTRASEÑA OLVIDADA</h1>
              </th>
            </tr>
          </table><br>
        </div>

    <div id="centradotabla" style="margin-bottom: -0px;margin-top: 10px;">
      <table id="tablaCentral">
    <!--El siguiente renglón habrá una etiqueta h5 que contendrá el texto de Ingresa tu dirección de correo electrónico y te enviaremos instrucciones para restablecer la contraseña.-->
        <tr id="tr1">
          <th colspan="2">
            <h4>
              Ingresa tu dirección de correo electrónico y te enviaremos instrucciones para restablecer la contraseña.
            </h4>
          </th>
        </tr>
    <!--En el siguiente renglón en la primera columna tendrá un id de estilo llamado h1TablaCentro y dentro de la primera columna habrá una etiqueta de img que tendrá un id llamado imgTabla que contendrá el estilo de la imagen, entonces en la primera columna habrá una imagen. En la segunda columna contendrá un id llamado th3TablaCentro el cual contendrá el estilo de esta columna, dentro de esta columna estará una label y un input los cuales serán para que el usuario agregue un email valido-->
    <tr>
      <th id="th1TablaCentro" align="center">
        <ion-img id="imgPass" style="width: 55px; margin-left: 5px;" src="assets/img/email2.png" ></ion-img>
      </th>
  
      <th id="th2TablaCentro" >
        <ion-item color="none" lines="none" >
          <!-- <ion-label position="floating">Email</ion-label>
          <ion-input style="font-size: 15px;" type="email" [(ngModel)]="email"></ion-input>
          <ion-note slot="helper">Enter a valid email</ion-note>
          <ion-note slot="error">Invalid email</ion-note> -->
          <ion-input type="email" label="Email" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </th>
    </tr>

    <tr>
      <th colspan="2"><ion-button id="input2" type="submit" fill="clear" (click)="forgotPassword()" style="margin-top: 30px;">RESTABLECER</ion-button>
      </th>
    </tr>
    
  
      </table>

    </div>
      </ion-col>
    </ion-row>
  </ion-grid>



<!--<h1>Bienvenido, {{ this.newPassword }}!</h1>-->

</ion-content>

